<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.title %></td>
    <td><%= link_to 'Show', course_exercise_path(@course, exercise) %></td>
    <td><%= link_to 'Edit', edit_course_exercise_path(@course,exercise) %></td>
  </tr>
<% end %>
</table>

